* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --tec-blue-color: #092E6E;
    --tec-red-color: #d5010f;
    --tec-yellow-color: #ffcd00;
    --input-color: #e8e7ea;
    --bg-body-color: #DCDDE4;
    --button-confirm-color: #0E9F6E;
    --success: var(--button-confirm-color);
    --warning: var(--tec-yellow-color);
    --danger: var(--tec-red-color);

}

.mainTitle {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

/* -------------------------- */
/* GENERALES */
/* -------------------------- */

/* Centrar el texto de todos los botones */
input[type="button"],
input[type='text'],
input[type='password'] {
    /* box shadow button */
    text-align: center;
    /* box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2); */

}

input[type="button"]:active {
    box-shadow: initial;
}

/* -------------------------- */
/* Classes */
/* -------------------------- */
.text-light {
    color: #fff;
}

.text-dark {
    color: black;
}

.pointer {
    cursor: pointer;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.warning {
    color: var(--warning);
}

.success {
    color: var(--success);
}

.danger {
    color: var(--danger);
}

.disabled {
    opacity: 0.5 !important;
    background-color: rgba(176, 176, 176, 0.916) !important;
}

/* -------------------------- */
/* Components */
/* -------------------------- */

.modal {
    position: absolute;
    right: 0;
}

.btn {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    /* border: 2px solid black; */
}

body {
    min-width: 100%;
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
}


/* -------------------------- */
/* ROOT */
/* -------------------------- */
#root {
    width: 100%;
    min-height: 100%;

    display: grid;
    grid:
        "header" 60px "nav" 70px "body" calc(100vh - 130px) / 1fr;
}

/* -------------------------- */
/* HEADER */
/* -------------------------- */

.header {
    grid-area: header;
    /* background-color: red; */
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    flex-wrap: nowrap;
}

.header>img:nth-child(n) {
    margin-right: 10px;
    max-height: 40px;
}

/* -------------------------- */
/* NAV */
/* -------------------------- */

.nav {
    position: relative;
    grid-area: nav;
    background-color: var(--tec-blue-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav__options {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
}

.nav__options>a {
    color: white;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
}

.nav>h2 {
    font-size: 22px;
    color: #fff;
}

.nav>span {
    font-size: 50px;
    color: white;
}

/* -------------------------- */
/* BODY */
/* -------------------------- */

.body {
    position: relative;
    grid-area: body;
    background-color: #fff;
    padding: 8px;
    min-height: 500px;
    height: 100% !important;
}

/* -------------------------- */
/* BODY */
/*      LANDING */
/* -------------------------- */

.landingContainer {
    position: relative;
    background-color: var(--bg-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

.landingContainer__jumbotron {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 25   \0px; */
    width: 80%;
    min-width: 350px;
    margin-top: 40px;
}

.landingContainer__title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px;
}

.landingContainer__info {
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
}

/* .btn > span {
    margin-left: 10px;
} */

.btn_captureData {
    margin-bottom: 15px;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--tec-yellow-color);
}

.landingContainer__img {
    position: absolute;
    bottom: 0;
    height: 55%;
    max-height: 550px;
}

/* -------------------------- */
/* BODY */
/*      AUTH */
/* -------------------------- */
.auth {
    height: 100%;
    width: 100%;
    background-color: var(--bg-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth__form {
    height: auto;
    width: 90%;
    /* background-color: red; */
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.auth__mode {
    height: 50px;
    width: 280px;
    border-radius: 5px;
    background-color: var(--input-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 5px;
    margin: 10px 0;
}

.auth__mode--active {
    background-color: var(--tec-yellow-color) !important ;
}

.auth__mode>input[type='button'] {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: var(--tec-yellow-color); */
    /* box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2); */
}

.auth__mode>input[type='button']:last-child {
    margin-left: 5px;
}

.auth__options {
    height: 80px;
}

.auth__options>img {
    height: 90%;
}

.auth__input {
    height: 38px;
    width: 280px;
    margin-bottom: 3px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: var(--bg-body-color);
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2); */
    transition: 0.5s ease-in;
}

.auth_confirm {
    margin: 20px 0;
    width: 280px;
    background-color: var(--button-confirm-color) !important;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 42px;
    color: var(--input-color);
}

.auth__divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 280px;
    margin-bottom: 20px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: black;
}

.auth__divider>p {
    display: inline-block;
    margin: 0 10px;
    /* width: 120px; */
    white-space: nowrap;
}

.auth__options {
    width: 150px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}

.auth__options>img {
    cursor: pointer;
}

.auth__inputContainer {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 40px; */
}

.auth__inputContainer>ul {
    position: relative;
    align-self: flex-start;
}

.auth__inputContainer>ul>li {
    color: red;
}

.auth__inputContainer>.inputData__input {
    width: 280px;
    height: 38px;
    min-height: 38px;
}

.validationList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* margin-left: 5px; */
    padding-left: 5px;
    margin-bottom: 0;
}

.validationList__item {
    /* background-color: red; */
    transform: translate(10px, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px 0;
    align-self: flex-start;
}

.validationList__item>span {
    margin-right: 10px;
    font-size: 16px;
}

.validationList__item>p {
    font-size: 14px;
    color: rgb(104, 104, 104);
    margin-bottom: 0;
}

.icon--authPosition {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -28px;
}

.auth__input--ok {
    color: green;
}

.auth__input--oknt {
    color: red;
}

/* -------------------------- */
/* BODY */
/*      SELECTFILE */
/* -------------------------- */

.createfile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
    /* background-color: orange; */

    padding: 20px 10px 10px 10px;
}

.selectfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fillfile>h3 {
    margin-bottom: 20px;
}

.selectfile>h3 {
    margin-bottom: 20px;
}

.selectfile>select {
    width: clamp(300px, 80%, 420px);
    margin-bottom: 35px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    height: 40px;
    min-height: 40px;
    text-align: center;
    background-color: rgb(218, 218, 218);
    padding: 0 10px;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tec-blue-color);
    width: 95%;
    height: 380px;
    max-width: 350px;
    border-radius: 8px;
    padding: 15px 40px;
}

.card__help {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
}

.card__title {
    font-size: 22px;
    margin-bottom: 35px;
    text-align: center;
}

.card__description {
    text-align: start;
}

.card__owner {
    position: absolute;
    bottom: 15px;
    /* background-color: red; */
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 38px;
    padding: 8px;
}

.card__owner>span {
    margin-right: 10px;
}

.btn__tofilldoc {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: var(--tec-yellow-color);
}

.btn__toselectdoc {
    position: absolute;
    top: 20px;
    left: 10px;
    /* border-radius: 50%; */
    background-color: var(--tec-yellow-color);
}


/* -------------------------- */
/* BODY */
/*      SIGNUP */
/* -------------------------- */

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup>h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.inputData {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width: 420px;
    height: auto;
}

.inputData__label {
    margin-bottom: 5px;
    font-weight: 500;
}

.inputData__input,
.inputData__select {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    height: 32px;
    background-color: var(--input-color);
}

.btn__signup {
    margin-top: 10px;
    margin-bottom: 20px;
}

.inputData__validation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.activeInput>input:focus {
    border: 1px solid green;
}

.validationIcon {
    margin-left: 10px;
    margin-bottom: 10px;
}

.validationOK>span {
    color: green;
}

.validationERR>span {
    color: red;
}

/* -------------------------- */
/* PROFILE HOVER */
/* -------------------------- */

.profileHover {
    position: absolute;
    bottom: -80px;
    right: 10px;
    z-index: 1;

    display: none;
    padding: 10px;

    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;

}

.profileHover--noauth {
    width: 250px;
    flex-direction: column;
    align-items: center;
    /* height: 120px; */
    bottom: -155px;
    height: auto;
}

.profileHover--preauth {
    width: 380px;
    display: flex;
    bottom: -270px;
    flex-direction: column;
}

.profileHover--preauth>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.profileHover--preauth>div>label {
    align-self: flex-start;
    margin-bottom: 10px;
}

.profileHover--preauth>div>input {
    margin: 0 10px;
    font-size: 16px;
    outline: none;
    border: none;
    /* border: 0.5px solid black; */
    height: 32px;
    border-radius: 10px;
    padding: 5px 10x;
    background-color: rgb(198, 198, 253);
    text-align: center;
}

.profileHover--preauth>input[type="button"] {
    align-self: center;
    margin-bottom: 10px;
}

.profileHover>a {
    height: 50%;
    min-height: 40px;
    /* margin: 2px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(172, 172, 172); */
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-decoration: none;
}

.profileHover>a:nth-child(1) {
    margin-bottom: 10px;
}

.profileHover.visible {
    display: flex;
    animation-name: fadeIn;
    animation-duration: 0.5s;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* -------------------------- */
/* EXTRAS */
/* -------------------------- */
/* Eliminar las flechas en los input number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

/* -------------------------- */
/* ESTILOS DE LOS FORMULARIOS PARA LOS DOCUMENTOS */
/* -------------------------- */

.inputData__input {
    margin-bottom: 3px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: var(--bg-body-color);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in;
    font-size: 14px;
    /* height: 32px; */
}

.formData {
    /* background-color: red; */
    position: relative;
    width: 95%;
    /* min-width: 320px; */
    width: clamp(320px, 90%, 400px);
    /* width: 360px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: auto;
    padding-bottom: 10px;
    /* margin-bottom: 20px; */
    /* min-height: 550px; */
    max-height: 70vh;
    /* flex-wrap: wrap; */
}

.formData__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.formData__block {
    width: 100%;
    max-width: 420px;
    /* background-color: orange; */
    display: flex;
    /* margin-top: 10px; */
    flex-direction: column;
    /* align-items: center; */
    align-content: space-around;
    /* padding: 10px; */
}
.formData__block--list {
    flex-direction: row;
    margin-bottom: 15px;
}

.formData__group > .formData__block:nth-child(n){
    margin-right: 10px;
}

.formData__label {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 4px;
}

.formData__input,
.formData__select,
.formData__date>select {
    height: 32px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: 0.3px solid black;
    width: 100%;
}

.formData__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.formData__group--date {
    justify-content: space-evenly;
}

.btn_download {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: var(--button-confirm-color);
}


/* -------------------------- */
/* VISTA DONDE VA EL FORMULARIO GENERAL Y LA GENERACION DE DOCUMENTOS */
/* -------------------------- */

.files {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-body-color);
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
    padding-top: 20px;
    padding-bottom: 30px;
}

.accordion {
    width: 95%;
    max-width: 450px;
    margin-bottom: 20px;
    /* height: calc(100%-20px) !important; */
}

.accordion-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-button.show {
    background-color: rgb(134, 185, 247);
}

.files > h3 {
    margin: 20px 0;
}

.accordion-button {
    position: relative;
}

.accordion__button {
    position: absolute;
    right: 50px;
}

.btn__save{
    background-color: var(--tec-blue-color);
    /* margin: 20px 0; */
    position: fixed;
    right: 30px;
    bottom: 80px;
    color: #fff;
}

.btn__tofill{
    background-color: var(--button-confirm-color);
    /* margin: 20px 0; */
    position: fixed;
    right: 30px;
    bottom: 30px;
}

/* -------------------------- */
/* SECCION DE LLENADO DE DOCUMENTOS DESPUES DE HABER LLENADO EL FORMULARIO PRINCIPAL */
/* -------------------------- */

.fillfile {
    width: 100%;
    height: 100%;
    background-color: var(--bg-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 20px;
    overflow-y: auto;

}

.fillfile > h1 {
    margin-bottom: 15px;
}

.accordion-body{
    position: relative;
}

.btn__download {
    background-color: var(--tec-yellow-color) !important;
    position: relative;
    /* bottom: 10px; */
    /* right: 10px; */
}

.btn__back{
    background-color: var(--tec-yellow-color);
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 10;
}

/* -------------------------- */
/* INPUTS QUE SE RENDERIZAN EN CADA UNO DE LOS DOCUMENTOS */
/* -------------------------- */

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------------- */
/* INPUTS QUE SE RENDERIZAN EN CADA UNO DE LOS DOCUMENTOS
            AUTOEVALUACION CUALITATIVA*/
/* -------------------------- */

.AUT_CUAL__custom {
    padding-bottom: 20px;
}

.AUT_CUAL__custom > .formData__block:nth-child(2){
    align-items: center;
    /* background-color: red; */
}

.AUT_CUAL__custom > .formData__block:nth-child(2) > input {
    appearance: none;
    height: 20px;
    width: 20px;
    /* background-color: red; */
    border-radius: 5px;
    border: 1px solid black;
}

.AUT_CUAL__custom > .formData__block:nth-child(2) > input:checked{
    background-color: var(--tec-blue-color);
}

/* -------------------------- */
/* INPUTS QUE SE RENDERIZAN EN CADA UNO DE LOS DOCUMENTOS
            CARTA DE ASIGNACION*/
/* -------------------------- */

input[type='radio'] {
    margin-right: 10px;
}

h6 {
    margin-top: 15px;
}