@media (min-width:992px) {
    /* -------------------------- */
    /* ROOT */
    /* -------------------------- */

    /* -------------------------- */
    /* HEADER */
    /* -------------------------- */

    /* -------------------------- */
    /* NAV */
    /* -------------------------- */

    /* -------------------------- */
    /* BODY */
    /* -------------------------- */

    /* -------------------------- */
    /* BODY */
    /*      SELECTFILE */
    /* -------------------------- */

    .selectFile {
        padding: 215px 10px 10px 10px;
        flex-direction: column;
        align-items: center;
        width: 45%;
        min-width: 420px;
        max-width: 500px;
    }

    .imgFileContainer {
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translate(0, -50%);
        aspect-ratio: 0.7727;
        max-width: 380px;
    }

    /* -------------------------- */
    /* FOOTER */
    /* -------------------------- */
}