@media (min-width:768px){

    /* -------------------------- */
    /* ROOT */
    /* -------------------------- */
    #root {
        width: 100%;
        height: 100vh;
    
        display: grid;
        grid:
            "header header header" 75px 
            "nav nav nav" 80px 
            "body body body" auto 
            / 1fr ;
    }

    /* -------------------------- */
    /* HEADER */
    /* -------------------------- */

    .header > img:nth-child(n){
        margin-right: 10px;
        max-height: 80px;
    }

    /* -------------------------- */
    /* NAV */
    /* -------------------------- */

    /* -------------------------- */
    /* BODY */
    /* -------------------------- */
    
    /* -------------------------- */
    /* BODY */
    /*      LANDING */
    /* -------------------------- */

    .landingContainer__img{
        height: 65%;
    }

    /* -------------------------- */
    /* FOOTER */
    /* -------------------------- */



}