@media (min-width:1200px) {
    /* -------------------------- */
    /* ROOT */
    /* -------------------------- */

    /* -------------------------- */
    /* HEADER */
    /* -------------------------- */

    /* -------------------------- */
    /* NAV */
    /* -------------------------- */

    /* -------------------------- */
    /* BODY */
    /* -------------------------- */

    .selectFile {
        height: 100%;
        max-width: 700px;
    }

    .imgFileContainer {
        max-width: 500px;
    }

    /* -------------------------- */
    /* FOOTER */
    /* -------------------------- */
}